.friendlist__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0px 5px 0px;
  padding: 2px;
  background-color: rgb(231, 231, 231);
  border: 0.5px solid rgb(169, 169, 169);
}

.friendlist__status {
  width: 25px;
  height: 25px;
  margin: 5px 15px 5px 5px;
  border-radius: 50%;
}

.online {
  background-color: darkgreen;
}

.ofline {
  background-color: red;
}

.friendlist__name {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}
