.friend-list {
  width: 500px;
  padding: 40px;
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  flex-direction: column;
  list-style: none;
  border: 0.5px solid rgb(169, 169, 169);
  background-color: rgb(206, 206, 206);
}
